@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import "tw-animate-css";

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    to bottom right,
    #000000 0%,     /* top-right (starting corner) */
    #0c0c0c 50%,     /* center blend */
    #0a0a0a 100%     /* bottom-left (soft dark gray) */
  );
  color: #f4f4f5; /* light text */
  font-family: 'Inter', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
